 @*Loeschen.cshtml: Diese View stellt die Löschen-Abfrage zu einer Schulung für den Schulungsbeauftragten in einer Tabelle dar. 
 Diese View verwendet das Model "Schulung.cs" zu*@ 
@model Schulungsportal_2.Models.Schulungen.Schulung

@{
    ViewData["Title"] = "Loeschen";
}

<h2>Löschen: @Html.DisplayFor(m => m.Titel)</h2>

<h3>Sind Sie sicher, das Sie diese Schulung löschen möchten?</h3>
<div>
    <hr />
    @await Html.PartialAsync("_SchulungDetails", Model)

    <p> Diese Aktion kann nicht Rückgängig gemacht werden!</p>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="form-group">
            @Html.HiddenFor(m => m.SchulungGUID)
        </div>
        <div class="form-actions no-color">
            <input type="submit" value="Löschen" class="btn btn-default" /> |
            @Html.ActionLink("Zurück zur Schulungsübersicht", "Uebersicht")
        </div>
    }
</div>

