@{
    Layout = "BaseMail";
}
    <p>Liebe/r Teilnehmer/in,</p>
    <br />
    <p>hiermit wird die Abmeldung von der Schulung @Model.Schulung.Titel bestätigt.</p>
    <br />
    <p>Diese Email wurde automatisch generiert, bitte nicht antworten. Bei Fragen wende dich bitte an <a href="mailto:@Schulungsportal_2.Services.AuthMessageSender.adresseSchulungsbeauftragter">@Schulungsportal_2.Services.AuthMessageSender.adresseSchulungsbeauftragter</a>.</p>
