@using System.Linq
<!DOCTYPE html>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <html>
    <head>
        <style>
            * {
                font-family: 'Franklin Gothic Book', sans-serif;
            }

            p, li {
                margin: 0cm;
                margin-bottom: .0001pt;
                font-size: 11.0pt;
            }

            img {
                border: 0;
                width: 0.3333in;
                height:0.3333in;
            }
        </style>
    </head>
    <body>
        <p>Liebe/r Teilnehmer/in,</p>
        <br />
        <p>leider wurde die Schulung @Model.Schulung.Titel abgesagt. Wir entschuldigen uns f&uuml;r die Unannehmlichkeiten.</p>
        <br />
        <p>Diese Email wurde automatisch generiert, bitte nicht antworten. Bei Fragen wende dich bitte an <a href="mailto:@Schulungsportal_2.Services.AuthMessageSender.adresseSchulungsbeauftragter">@Schulungsportal_2.Services.AuthMessageSender.adresseSchulungsbeauftragter</a>.</p>
        <p>_________________________________</p>
        <p>Campus Consult e. V.</p>
        <br />
        <p>Technologiepark 13</p>
        <p>33100 Paderborn</p>
        <br />
        <p>Internet: <a href=" https://campus-consult.org">https://campus-consult.org</a></p>
        <p>_________________________________</p>
        <p>Vertretungsberechtigter Vorstand: @Model.Vorstand</p>
        <br />
        <p>Amtsgericht Paderborn; VR 1615</p>
        <br />
        <p>Campus Consult e. V. ist seit 1994 Mitglied im</p>
        <p>Bundesverband Deutscher Studentischer Unternehmensberatungen e. V. (<a href="www.bdsu.de">www.bdsu.de</a>)</p>
        <p>und in der European Confederation of Junior Enterprises (<a href="www.jadenet.org">www.jadenet.org</a>)</p>
    </body>
</html>
