@{
    Layout = "BaseMail";
}
    <p>Liebe/r Teilnehmer/in,</p>
    <br />
    <p>leider wurde die Schulung @Model.Schulung.Titel abgesagt. Wir entschuldigen uns f&uuml;r die Unannehmlichkeiten.</p>
    <br />
    <p>Diese Email wurde automatisch generiert, bitte nicht antworten. Bei Fragen wende dich bitte an <a href="mailto:@Schulungsportal_2.Services.AuthMessageSender.adresseSchulungsbeauftragter">@Schulungsportal_2.Services.AuthMessageSender.adresseSchulungsbeauftragter</a>.</p>

