@{
    Layout = "BaseMail";
}
    <p>Liebe/r  Dozent/in,</p>
    <br />
    <p>bitte denke daran, die Teilnehmerliste für die Schulung "@Model.Schulung.Titel" an den Schulungsbeauftragten <a href="mailto:@Schulungsportal_2.Services.AuthMessageSender.adresseSchulungsbeauftragter">@Schulungsportal_2.Services.AuthMessageSender.adresseSchulungsbeauftragter</a> zu senden, damit die Anwesenheit der Teilnehmer bestätigt werden kann</p>
    <br />
    <p>Diese Email wurde automatisch generiert, bitte nicht antworten. Bei Fragen wende dich bitte an <a href="mailto:@Schulungsportal_2.Services.AuthMessageSender.adresseSchulungsbeauftragter">@Schulungsportal_2.Services.AuthMessageSender.adresseSchulungsbeauftragter</a>.</p>
