@{
    Layout = "BaseMail";
}
    <p>Liebe/r Schulungsbeauftragte/r,</p>
    <br />
    <p>Sie wurden zur Verwaltung des Schulungsportals eingeladen, um sich anzumelden folgen sie bitte <a href="@Model.InviteURL">diesem Link</a>.</p>
