@*TeilnehmerSuche.cshtml: Diese View stellt die Teilnehmer löschen Seite da. *@

@*Die View verwendet das Model TeilnehmerViewModel*@
@model Schulungsportal_2.ViewModels.TeilnehmerSucheViewModel

@{
    ViewData["Title"] = "Teilnehmer Suche";
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
</hgroup>

<div id="app"></div>
@section Scripts {
    <script src="~/dist/teilnehmer-suche.js"></script>
}
@section Styles {
    <link rel="stylesheet" href="~/dist/teilnehmer-suche.css" />
}