@if (Context.User.Identity.IsAuthenticated)
{
    <li>@Html.ActionLink("Schulungen", "Uebersicht", "Schulung")</li>
    <li>@Html.ActionLink("Archiv", "Archiv", "Schulung")</li>
    <li>@Html.ActionLink("Teilnehmer Suche", "SucheTeilnehmer", "Suche")</li>
    <li>@Html.ActionLink("Managers", "Managers", "Manage")</li>
}