@using System.Linq
<!DOCTYPE html>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <html>
    <head>
        <style>
            * {
                font-family: 'Franklin Gothic Book', sans-serif;
            }

            p, li {
                margin: 0cm;
                margin-bottom: .0001pt;
                font-size: 11.0pt;
            }

            img {
                border: 0;
                width: 0.3333in;
                height:0.3333in;
            }
        </style>
    </head>
    <body>
        @RenderBody()
    </body>
</html>
